<!DOCTYPE HTML>
<html>
	 <head>
		  <meta charset="utf-8">
		  <title>GAME OF LIFE</title>
		  <h1>GAME OF LIFE</h1>
	 </head>
	  <body>
			<form action = "/form" method = "post">
				<p> 
					Size: <input type = "text" name ="message1" value="3">x
					<input type = "text" name ="message2" value="3">
				</p>
				<p> 
					Alive:<input type = "text" name ="message3" value="4">
				</p>	
					<input type = "submit" value="Input">
					<input type = "reset" value="Reset">
				</form>
	 </body>
</html>