<!DOCTYPE HTML>
<html>
	 <head>
		  <meta charset="utf-8">
		  <title>GAME OF LIFE</title>
		  <h1>LIFE</h1>
	 </head>
	 <body>
		 	<h2>Size: <%= @@n%>x<%=@@m%></h2>
				<table>
				<tr>
					<%(0...@@n).each do |i| %>
						<% (0...@@m).each do |j| %>
						<td><%= @@seed[i][j].to_s %></td>	
					<% end %>
					</tr>
				<% end %>
				</table>
			<p>
				<form action = "/next" method = "post">
						<input type = "submit" value="Next">
				</form>
			</p>
	 </body>
</html>